
.story-goal-container{ 
   position: relative;
   width: 100%;
}
.story-goal{
    margin-top: 4rem;
    position: relative;
    
}
.story-goal::after{
content: '';
z-index: -10;
background: #6CB12F;
position: absolute;
width: 1000px;
height: 1000px;
right: -47%;
top: -120%;
filter: blur(200.055px);
transform: matrix(-0.05, -1, 1, 0.02, 0, 0);
}
.story-goal .story-text{
    
width: 1313px;
height: 374px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #000;
}
.titles{
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 3.75em;
}
.our-values{
    color: #fff;
}
.story{
color: #035116;
}
.line{
height: 5px;
background: #F2CB05;
margin:  4em auto;
}

.our-values-container{
    display: flex;
    justify-content: center;
    height: 60em;
    width: 100%;
    background-color: #035116;
}
.Values{
    position: relative;
    gap: 1em;
}
.Values::after{
    content: '';
    z-index: -10;
    position: absolute;
    width: 516.69px;
    height: 578.22px;
    top: 75%;
    right: -31%;
    background: #58BD91;
    filter: blur(106.843px);
    transform: matrix(0.47, -0.88, 0.85, 0.53, 0, 0);
}
.Values::before{
    content: '';
    z-index: -10;
    position: absolute;
    width: 25em;
    height: 37.5em;
    left: -30%;
    top: -70%;
    filter: blur(95.3132px);
    transform: matrix(0.02, 1, -1, -0.06, 0, 0);
    background: #F2CB05;
}

footer{
    border: 2px solid;
   margin-top: 15rem;
   height: 10rem;
   background: #58BD91;
   width: 120%;
   position: relative;
   right: 10rem;
   
}