

.header-container{
    width: 100%;
    background-color: #035116;
    height: 7em;
    direction: rtl;
    box-shadow: 0 2px 10px rgb(152, 141, 141); 
    /* position: fixed;*/
}

.header-top{
    padding-right: 5%;
    display: flex;
    align-items: center;
    height: 60%;
}
.logo{
    display: inline-block;
    width: 14em;
    font-size: 1em;
    text-decoration: none;
    color: #F2CB05;
 
    font-weight: 700;
}

.header-bottom{
padding-right: 5%;
height: 40%;
background-color: white;
display: flex;
align-items: center;
}

.page{
    display: inline-block;
    text-decoration: none;
    color: #035116;
    font-size:1em ;
    font-weight: 700;
    margin: 0 0 0 2.1em;
    transition: all 0.3s ease-in-out;
}





.page:hover {
    color: #F2CB05;
}

.activee {
    color: #F2CB05; /* Yellow when active */
    font-weight: bold;
    border-bottom: 2px solid #F2CB05; /* Optional underline */
}

