/*




.cyrcle{
    height: 100%;
    width: 100%;
   
}
.sign-up{
    border-radius: 10px;
    display: flex;
    height: 35em;
    width:30em;
    background-color: #fff;
}


.right-sign-up{
   
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
}
.top{
    height: 25%;
    margin-bottom: 3em;
}

.welcome h2{
    color: #40850C;
    font-size: 4.5em;
}
.welcome p{
    font-size: 13px;
    font-weight: 600;
}
.welcome{
    text-align: center;
}
.middle{
    display: flex;
    justify-content: center;
    height: 75%;
}
.middle form{
    display: flex;
    flex-direction: column;
    position: relative;
   
}
.middle form input{
    width: 23em;
    font-size: 18px;
    background-color: transparent;
    border-color: #035116;
    border-width: 1px  ;
    outline: none;
    padding: 5px 5px 5px 0;
    border-radius: 0.5em;
    
}
.middle form .input-container{
    margin-bottom: 2.5em;

}
.forgot-password-container{
    display: flex;
    justify-content: space-between;
}
.forgot-password{
    margin-top: 0.3em;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
    color: #035116;
}
.middle form input::placeholder{
    color: #443f3fcc;
    font-weight: 500;
    font-size: 15px;
}
.login-btn{
    display: inline;
    outline: none;
    border: none;
    border-radius: 12px;
    background-color: #035116;
    display: block;
    margin:0 auto 0 auto;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2em;
    transition: 0.5s;
    padding: 0.6em 1.5em;
    margin-top: 2em;
}
.login-btn:hover {
    background-color: #40850C;
    transition: 0.5s;
}
.no-account{
    margin-top: 2em;
    font-size: 15px;
    font-weight: 500;
}
.no-account .signup-login{
    text-decoration: none;
    color: #035116;
    font-size: 16px;
}
.no-account .signup-login:hover,.forgot-password:hover{
    text-decoration: underline;
}

.error{
    padding-top: 3px;
    color: #8a1818;
    font-size: 13px;
    font-weight: 500;
}