

.project-container{
margin: 1em 0 1em 0;
width: 20em;
height: 25em;
background: #fff;
border-radius: 5px;
position: relative;
}

.project-pic{
width: 100%;
height:50%;
cursor: pointer;
border-radius: 1em;
}
.project-pic img{
    height: 100%;
    width: 100%;
    
}
.project-text{
    padding: 0 0.5em 0 0;
    margin-top: 10px;
    height: 30%;
}
.project-text h1{
text-align: right;
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 30px;
color: #1E1E1E;
}
.project-text p{
    text-align: right;
    margin-top: 1em;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
color: #000000;
margin-bottom: 2rem;
overflow: hidden;
word-wrap: break-word;  /* Ensures words wrap instead of overflowing */
overflow-wrap: break-word; /* Ensures long words break properly */
white-space: normal; 
height: 60%;

}

.more-details{
    position: absolute;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.3em;
    color: #FFFFFF;
    padding:0.5rem 2.5rem ;
    background-color:#035116 ;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    bottom: 0.5em;
    right: 0.5em;
}