


.pic-container{
margin-top: 4em;
text-align: right;
position: relative;
background: url('../assets/images/ZkatPics/Rectangle 57.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.green{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #035116;
    opacity: 0.65;
    bottom: 0;
    left: 0;
}
.text{
    padding: 1rem 6rem;
    position: relative;
}
.text .title{

font-weight: 700;
font-size: 1.6em;
line-height: 50px;
letter-spacing: 0.01em;

}
.paragraph{
font-style: normal;
font-weight: 400;
font-size: 1em;
line-height:1.5em;
letter-spacing: 0.01em;
color: #FFFFFF;
margin-bottom: 2.5em;
}
.line{
height: 7px;
background: #fff;
position: relative;
}
