
.input-label-montants input{
    font-size:15px ;
    font-weight: 300;
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    padding: 0.8em 5px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 5px;
}
.input-label-montants label{
    font-size: 18px;
    font-weight: 300;
    color: #F2CB05;
}
.input-label-montants {
    margin: 0.9em 0;
   
}
.input-montants-container{
 margin: auto;
 width: 98%;
}
.montants{
    margin: auto;
    text-align: left;

}